.container{
    padding: 10px;
    border-bottom: 1px solid black;
}

#form1{
    margin-bottom: 2%;
}

/* Añadir elementos (ejercicio 2) */
.div_form{
    border: 1px solid black;
    margin-bottom: 1%;
    margin-right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_form:hover{
    box-shadow: -2.5px 2.5px lightgray;
}

.div_name{
    display: flex;
    flex: 8;
    justify-content: center;
}

.div_close{
    display: flex;
    justify-content: center;
    flex: 1;
    border-left: 1px solid black;
}

.div_close:hover{
    color: red;
}

/* Ejercicio 6*/
#divColor{
    padding: 1%;
}